@media screen and (max-width: 768px) {
  /**generale**/
@font-face {
	font-family: 'WorkSansSemiBold';
	src: url('assets/font/WorkSans-SemiBold.ttf');
	}
body{
  position: absolute;
  font-family: 'Work Sans';
  cursor: default;
}
a{
   text-decoration: none;
   color: inherit;
   cursor: pointer;
}
em{
  font-style: normal;
  font-family: WorkSansSemiBold;
}
#banda_mobile{
	width: 100vw;
	height:120px;
	position: fixed;
	z-index: +4;
}
#main{
  width: 90vw;
  position: relative;
}
#menu{
  margin-top: 65px;
  width: 90vw;
  position: fixed;
  font-size: 15px;
	z-index: +5;
}
#what_we_do{
	position: absolute;
	margin-left: 5vw;
  width: 30vw;
  text-align: center;
  padding-top:3px;
  padding-bottom:3px;
}
#projects{
	position: absolute;
  margin-left: 35vw;
	width: 30vw;
	text-align: center;
  padding-top:3px;
  padding-bottom:3px;
}
#about_us{
	position: absolute;
	margin-left:65vw;
	width: 30vw;
	text-align: center;
  padding-top:3px;
  padding-bottom:3px;

}
#logoReflektor{
  top: 20px;
  margin-left: 5vw;
  position: fixed;
  width: 80px;
	z-index: +5;
}
#logoFFFWD{
  top: 30px;
  margin-left:85vw;
  position: fixed;
  width: 60px;
	z-index: +5;
}

/**landing**/
#payoff{
	margin-top: 120px;
  text-align: left;
  font-size:60px;
  margin-left: 5vw;
	width: 90vw;
}


/**about us**/
.titolini{
	font-size: 25px;
}
.testi{
	font-size: 15px;
}

#we_are{
  margin-top: 120px;
	margin-left: 5vw;
	margin-right: 5vw;
  width: 90vw;
  position: absolute;
	font-size: 25px;
}
#what{
	margin-top: 280px;
	margin-left:5vw;
	margin-right:5vw;
	width: 90vw;
  position: relative;
  overflow:scroll;
}


/**projects**/
#clientslist{
	margin-top: 120px;
	margin-left: 5vw;
	margin-right: 5vw;
  width: 90vw;
  position: absolute;
	font-size: 15px;
}
#griglia{
	margin-top: 400px;
  height: 504vw;
  width: 100vw;
  position: absolute;
  overflow:scroll;
  z-index: +1;
}
#unouno{
  height: 56vw;
  width: 100vw;
  position: absolute;
  overflow:hidden;
  z-index: +1;
}
#unodue{
	height: 56vw;
  width: 100vw;
	margin-top:56vw;
  position: absolute;
  overflow:hidden;
  z-index: +1;
}
#dueuno{
	height: 56vw;
  width: 100vw;
	margin-top:112vw;
  position: absolute;
  overflow:hidden;
  z-index: +1;
}
#duedue{
	height: 56vw;
  width: 100vw;
	margin-top:168vw;
  position: absolute;
  overflow:hidden;
  z-index: +1;
}
#treuno{
	height: 56vw;
  width: 100vw;
	margin-top:224vw;
  position: absolute;
  overflow:hidden;
  z-index: +1;
}
#tredue{
	height: 56vw;
  width: 100vw;
	margin-top:280vw;
  position: absolute;
  overflow:hidden;
  z-index: +1;
}
#quattrouno{
	height: 56vw;
  width: 100vw;
	margin-top:336vw;
  position: absolute;
  overflow:hidden;
  z-index: +1;
}
#quattrodue{
	height: 56vw;
  width: 100vw;
	margin-top:392vw;
  position: absolute;
  overflow:hidden;
  z-index: +1;
}
#cinqueuno{
	height: 56vw;
  width: 100vw;
	margin-top:448vw;
  position: absolute;
  overflow:hidden;
  z-index: +1;
}

#griglia_link{
	height: 504vw;
	margin-top: 400px;
  width: 100vw;
  position: absolute;
  overflow:scroll;
  z-index: +2;
}
.nomeLink{
  font-family:WorkSansSemiBold;
  background-color:yellow;
  padding-left:10px;
  padding-right:10px;
  padding-top:3px;
  padding-bottom:3px;
  margin-left:20px;
  margin-top:20px;
  position:absolute;
}
#unouno_link{
	height: 56vw;
  width: 100vw;
  background-color: transparent;
  position: absolute;
  overflow:hidden;
  z-index: +2;
	font-size: 15px;
}
#unodue_link{
	height: 56vw;
	width: 100vw;
	margin-top: 56vw;
  background-color: transparent;
  position: absolute;
  overflow:hidden;
  z-index: +2;
	font-size: 15px;
}
#dueuno_link{
	height: 56vw;
	width: 100vw;
	margin-top: 112vw;
  background-color: transparent;
  position: absolute;
  overflow:hidden;
  z-index: +2;
	font-size: 15px;
}
#duedue_link{
	height: 56vw;
	width: 100vw;
	margin-top: 168vw;
  background-color: transparent;
  position: absolute;
  overflow:hidden;
  z-index: +2;
	font-size: 15px;
}
#treuno_link{
	height: 56vw;
  width: 100vw;
	margin-top: 224vw;
  background-color: transparent;
  position: absolute;
  overflow:hidden;
  z-index: +2;
	font-size: 15px;
}
#tredue_link{
  height: 56vw;
  width: 100vw;
	margin-top: 280vw;
  background-color: transparent;
  position: absolute;
  overflow:hidden;
  z-index: +2;
	font-size: 15px;
}
#quattrouno_link{
  height: 56vw;
  width: 100vw;
	margin-top: 336vw;
  background-color: transparent;
  position: absolute;
  overflow:hidden;
  z-index: +2;
	font-size: 15px;
}
#quattrodue_link{
  height: 56vw;
  width: 100vw;
	margin-top: 392vw;
  background-color: transparent;
  position: absolute;
  overflow:hidden;
  z-index: +2;
	font-size: 15px;
}
#cinqueuno_link{
  height: 56vw;
  width: 100vw;
	margin-top: 448vw;
  background-color: transparent;
  position: absolute;
  overflow:hidden;
  z-index: +2;
	font-size: 15px;
}

/**about us**/
#links{
	margin-top: 120px;
	margin-left: 5vw;
	margin-right: 5vw;
  width: 90vw;
  position: absolute;
	font-size: 15px;
}
#who{
	margin-top: 280px;
	margin-left:5vw;
	margin-right:5vw;
	width: 90vw;
	font-size: 25px;
	position: relative;
}

/**progetti**/
#desc{
  margin-left: 5vw;
	margin-right: 5vw;
  margin-top: 120px;
  width: 90vw;
  position: absolute;
  font-size: 15px;
}
#titolo{
	font-size: 25px;
  font-family: WorkSansSemiBold;
}
#read{
  font-family: WorkSansSemiBold;
  position: absolute;
  font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
  padding-top:3px;
  padding-bottom:3px;
  text-align:left;
  cursor: pointer;
  background-color: yellow;
}
#visual{
  margin-top: 400px;
  height: auto;
  width: 100vw;
  position: relative;
  overflow:hidden;
  z-index: +1;
}
#testo{
  margin-top: 400px;
  width: 90vw;
	margin-left: 5vw;
  font-size: 15px;
  position: relative;
  overflow:scroll;
  z-index: 0;
}
}
