@media screen and (min-width: 768px) {


/**generale**/
@font-face {
	font-family: 'WorkSansSemiBold';
	src: url('assets/font/WorkSans-SemiBold.ttf');
	}
body{
  background: white;
  position: absolute;
  font-family: 'Work Sans';
  cursor: default;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll::-webkit-scrollbar {
  display: none;
}
.scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
a{
   text-decoration: none;
   color: inherit;
   cursor: pointer;
}
em{
  font-style: normal;
  font-family: WorkSansSemiBold;
}
#main{
  height: 100vh;
  width: 60vw;
  margin-left:40vw;
  margin-top: 0px;
  align: right;
  position: absolute;
}
#menu{
  margin-left: 5vw;
  margin-top: 20px;
  width: 30vw;
  position: fixed;
  font-size: 1.25vw;
}
#what_we_do{
  width: 9vw;
  text-align: left;
  position: fixed;
  padding-left: 10px;
  padding-top:3px;
  padding-bottom:3px;
}
#projects{
  margin-left: 10vw;
  width: 9vw;
  text-align: left;
  position: fixed;
  padding-left: 10px;
  padding-top:3px;
  padding-bottom:3px;
}
#about_us{
  margin-left: 20vw;
  width: 9vw;
  text-align: left;
  position: fixed;
  padding-left: 10px;
  padding-top:3px;
  padding-bottom:3px;
}
.fondoGiallo:hover{
  background-color: black;
  border: 0.1vw solid transparent;
  color:yellow;
}
.fondoBianco:hover{
  background-color: yellow;
  border: 0.1vw solid transparent;
  color:black;
}
.fondoNero:hover{
  background-color: yellow;
  border: 0.1vw solid transparent;
  color:black;
}
#logoReflektor{
  bottom: 20px;
  padding-bottom: 3px;
  margin-left: 5vw;
  position: fixed;
  width: 8vw;
}
#logoFFFWD{
  bottom: 20px;
  padding-bottom: 3px;
  margin-left: 15vw;
  position: fixed;
  width: 6vw;
}



/**landing**/
#payoff{
  width: 50vw;
  height: 50vh;
  text-align: left;
  position: absolute;
  font-size:5vw;
  margin-top: 25vh;

}


/**what we do**/
.titolini{
	font-size: 2.5vw;
}
.testi{
	font-size: 1.25vw;
}
#we_are{
  margin-left: 5vw;
  margin-top: 120px;
  width: 30vw;
  position: fixed;
  font-size: 2.5vw;
  padding:3px;
  padding-left: 10px;

}
#what{
  margin-top: 120px;
  width: 50vw;
  position: relative;
  overflow:scroll;
  z-index: +1;
}


/**projects**/
#clientslist{
  margin-left: 5vw;
  margin-top: 120px;
  width: 30vw;
  position: fixed;
  font-size: 1.25vw;
  padding:3px;
  padding-left: 10px;
}
#griglia{
  height: 96vw;
  margin-top: 120px;
  width: 59vw;
  position: absolute;
  overflow:scroll;
  z-index: +1;
}
#unouno{
  height: 16vw;
  width: 29.5vw;
  position: absolute;
  overflow:hidden;
  z-index: +1;
}
#unodue{
  margin-left:29.5vw;
  height: 16vw;
  width: 29.5vw;
  position: absolute;
  overflow:hidden;
  z-index: +1;
}
#dueuno{
  margin-top:16vw;
  height: 16vw;
  width: 29.5vw;
  position: absolute;
  overflow:hidden;
  z-index: +1;
}
#duedue{
  margin-top:16vw;
  margin-left:29.5vw;
  height: 16vw;
  width: 29.5vw;
  position: absolute;
  overflow:hidden;
  z-index: +1;
}
#treuno{
  margin-top:32vw;
  height: 16vw;
  width: 29.5vw;
  position: absolute;
  overflow:hidden;
  z-index: +1;
}
#tredue{
  margin-top:32vw;
  margin-left:29.5vw;
  height: 16vw;
  width: 29.5vw;
  position: absolute;
  overflow:hidden;
  z-index: +1;
}
#quattrouno{
  margin-top:48vw;
  height: 16vw;
  width: 29.5vw;
  position: absolute;
  overflow:hidden;
  z-index: +1;
}
#quattrodue{
  margin-top:48vw;
	margin-left:29.5vw;
  height: 16vw;
  width: 29.5vw;
  position: absolute;
  overflow:hidden;
  z-index: +1;
}
#cinqueuno{
  margin-top:64vw;
  height: 16vw;
  width: 29.5vw;
  position: absolute;
  overflow:hidden;
  z-index: +1;
}
#cinquedue{
  margin-top:64vw;
	margin-left:29.5vw;
  height: 16vw;
  width: 29.5vw;
  position: absolute;
  overflow:hidden;
  z-index: +1;
}
#seiuno{
  margin-top:80vw;
  height: 16vw;
  width: 29.5vw;
  position: absolute;
  overflow:hidden;
  z-index: +1;
}

#griglia_link{
  height: 96vw;
  margin-top: 120px;
  width: 59vw;
  position: absolute;
  overflow:scroll;
  z-index: +2;
}
.nomeLink{
  font-family:WorkSansSemiBold;
  background-color:yellow;
  padding-left:10px;
  padding-right:10px;
  padding-top:3px;
  padding-bottom:3px;
  margin-left:1vw;
  margin-top:1vw;
  position:absolute;
}
#unouno_link{
  height: 16vw;
  width: 29.5vw;
  background-color: transparent;
  position: absolute;
  overflow:hidden;
  z-index: +2;
  font-size: 1.25vw;
  margin-left: 0vw;
  margin-top: 0vw;
  opacity: 0;
}
#unouno_link:hover{
  opacity: 1;
}
#unodue_link{
  height: 16vw;
  width: 29.5vw;
  background-color: transparent;
  position: absolute;
  overflow:hidden;
  z-index: +2;
  font-size: 1.25vw;
  margin-left: 29.5vw;
  margin-top: 0vw;
  opacity: 0;
}
#unodue_link:hover{
  opacity: 1;
}
#dueuno_link{
  height: 16vw;
  width: 29.5vw;
  background-color: transparent;
  position: absolute;
  overflow:hidden;
  z-index: +2;
  font-size: 1.25vw;
  margin-left: 0vw;
  margin-top: 16vw;
  opacity: 0;
}
#dueuno_link:hover{
  opacity: 1;
}
#duedue_link{
  height: 16vw;
  width: 29.5vw;
  background-color: transparent;
  position: absolute;
  overflow:hidden;
  z-index: +2;
  font-size: 1.25vw;
  margin-left: 29.5vw;
  margin-top: 16vw;
  z-index: +2;
  opacity: 0;
}
#duedue_link:hover{
  opacity: 1;
}
#treuno_link{
  height: 16vw;
  width: 29.5vw;
  background-color: transparent;
  position: absolute;
  overflow:hidden;
  z-index: +2;
  font-size: 1.25vw;
  margin-left: 0vw;
  margin-top: 32vw;
  opacity: 0;
}
#treuno_link:hover{
  opacity: 1;
}
#tredue_link{
  height: 16vw;
  width: 29.5vw;
  background-color: transparent;
  position: absolute;
  overflow:hidden;
  z-index: +2;
  font-size: 1.25vw;
  margin-left: 29.5vw;
  margin-top: 32vw;
  opacity: 0;
}
#tredue_link:hover{
  opacity: 1;
}
#quattrouno_link{
  height: 16vw;
  width: 29.5vw;
  background-color: transparent;
  position: absolute;
  overflow:hidden;
  z-index: +2;
  font-size: 1.25vw;
  margin-left: 0vw;
  margin-top: 48vw;
  opacity: 0;
}
#quattrouno_link:hover{
  opacity: 1;
}
#quattrodue_link{
  height: 16vw;
  width: 29.5vw;
  background-color: transparent;
  position: absolute;
  overflow:hidden;
  z-index: +2;
  font-size: 1.25vw;
  margin-left: 29.5vw;
  margin-top: 48vw;
  opacity: 0;
}
#quattrodue_link:hover{
  opacity: 1;
}
#cinqueuno_link{
  height: 16vw;
  width: 29.5vw;
  background-color: transparent;
  position: absolute;
  overflow:hidden;
  z-index: +2;
  font-size: 1.25vw;
  margin-left: 0vw;
  margin-top: 64vw;
  opacity: 0;
}
#cinqueuno_link:hover{
  opacity: 1;
}
#cinquedue_link{
  height: 16vw;
  width: 29.5vw;
  background-color: transparent;
  position: absolute;
  overflow:hidden;
  z-index: +2;
  font-size: 1.25vw;
  margin-left: 29.5vw;
  margin-top: 64vw;
  opacity: 0;
}
#cinquedue_link:hover{
  opacity: 1;
}
#seiuno_link{
  height: 16vw;
  width: 29.5vw;
  background-color: transparent;
  position: absolute;
  overflow:hidden;
  z-index: +2;
  font-size: 1.25vw;
  margin-left: 0vw;
  margin-top: 80vw;
  opacity: 0;
}
#seiuno_link:hover{
  opacity: 1;
}





/**about_us**/
#links{
	margin-left: 5vw;
  margin-top: 120px;
  width: 30vw;
  position: fixed;
  font-size: 1.25vw;
  padding:3px;
  padding-left: 10px;
}
#who{
  margin-top: 120px;
  width: 50vw;
  font-size: 2.5vw;
  position: relative;
  overflow:scroll;
  z-index: +1;
}


/**progetti**/
#desc{
  margin-left: 5vw;
  margin-top: 120px;
  width: 30vw;
  position: fixed;
  font-size: 1.25vw;
  padding-left: 10px;
}
#titolo{
  font-size: 2.5vw;
  font-family: WorkSansSemiBold;
}
#read{
  font-family: WorkSansSemiBold;
  position: fixed;
  font-size: 1.25vw;
  padding-top:3px;
  padding-bottom:3px;
  padding-left: 10px;
  width:9vw;
  text-align:left;
  cursor: pointer;
}
#read:hover{
  background-color: yellow;
}
#visual{
  margin-top: 120px;
  height: auto;
  width: 59vw;
  position: absolute;
  overflow:hidden;
  z-index: +1;
}
#testo{
  margin-top: 120px;
  width: 50vw;
  font-size: 1.25vw;
  position: relative;
  overflow:scroll;
  z-index: 0;
}
}
